@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family:Arial, Helvetica, sans-serif;
   
}

.container{
    display: flex; 
    flex-direction: row;  
    background-color: blue;
    
}
.container1{
background-color: aqua;
height: 100vh; 
width: 100px;

flex-grow: 1;
   
}
.container1 img{
    height: 1rem;
    width: 1rem;
}
.container1 li{
margin: 40px;
list-style: none;
}

.container1 li a{
    text-decoration: none;
    }
.container1 li a:hover{
        color: #34A9A2;
        background-color: beige;
        padding:15px;
        border:5px solid #34A9A2;
        border-radius: 20px;
        }


.container2{
    background-color:white; 
    height: 100vh; 
    width: 400px;
  
    flex-grow: 4;
}
.container2 img{
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    right:10%;
}
.container2 p{
    position: absolute;
    color:black;
    right:20px;
    font-size: 2rem;
    margin-top: 10px;
}

table,td,th{
    border-bottom: 1px solid black;
    border-collapse: collapse ;
    padding: 10px;
}
table{
    margin:10%;
    width: 80%;
    border:2px solid #34A9A2;
}
thead{
    text-align: left;
}