@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin:0;  
    font-family: open-sans;
}

.container{
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #34A9A2;
}
.header{
    background-color:beige;
    padding: 10px 20px;
}
.form{
    padding: 20px 40px;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control lable {
    display: inline-block;
    margin-bottom:5px;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border:2px solid #d8d1d1;
}

.form-control.success input{
    border:2px solid rgb(26, 167, 26);
}
.form-control.error input{
    border:2px solid rgb(228, 29, 22);
}
.form-control small{
    position:absolute;
    margin: 3px;
    visibility: hidden;
}
button{
    background-color: beige;
    color:#34A9A2;
    padding: 10px 20px;
    width: 100%;
    border-radius:4px;
    border:2px solid #34A9A2;
    cursor: pointer;
}

.form-control p{
    display: inline-block;
}
.form-control a{
    text-decoration: none;
    color: #34A9A2;
}

