@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
}

 /* the css of the header section  */
header{
    background-color: #34A9A2;
    height: 100vh;
    width: 100%;    
}


 .navigation{
    top: 10px;
    width: 100%;
    position:sticky;
    top: 0;
    background-color: #34A9A2;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

}
 .navigation .mainMenu{
    display: flex;
    list-style: none;
}
 .navigation .mainMenu li a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
}
 .navigation .mainMenu li a:hover{
    color: #34A9A2;
        background-color: beige;
        padding:10px;
        border:10px solid #34A9A2;
        border-radius: 20px;
}
.navigation .openMenu{
    
    font-size: 1rem;
    margin: 10px;
    display: none;
    cursor: pointer;
    color: white;
}
.navigation .mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.navigation .logo{
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

 header.welcome{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 25%;
    top: 70%;
   
}
header .welcome h2{
    position: absolute;
    top:40%;
    left: 40%;
    color: white;

}
header .welcome h3{
    position: absolute;
    top:50%;
    left: 43%;
    color: white;

}

header .welcome p{
    position: absolute;
    top:60%;
    left: 5%;  
    right: 5%;
    color: white;
    text-align:center;

}
header .welcome a{
    position: absolute;
    top: 75%;
    text-decoration: none;
    background-color: #34A9A2;
    border-radius: 20px;
    padding: 10px;
    margin-left: 45%;
    margin-top: 20px;
    color:white;
    border: 2px solid white;
}
header .welcome a:hover{
    background-color: beige;
    color: aqua;
}
/* end of the header css */
/* beginning of the about us css */

.aboutus{
    background-color:white;
    height: 100vh;
    width: 100%;

    
}
.aboutustitle p{
    text-align: center;
}

.aboutustitle h1{
    display: block;
    text-align: center;
}

.aboutus-side{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    height: 500px;   
    width: 100%;
}

.aboutus-side .aboutus-side1 img{
    margin-top: 1rem;
    height: 400px;
    width: 100%; 
    object-fit:contain;
  
}
.aboutus-side2{
    width: 50%;
    padding: 0 50px;
}

.aboutus-side2 h2{
    font-size: 2em;
    margin-top: 1rem;
}
.aboutus-side2 ul li{
    line-height: 1;
    list-style:circle;
    margin-left: 20px;
    margin-bottom: 30px;
}
.aboutus-side2 .btn {
    background-color: beige;
    border:  2px solid #34A9A2 ;
    border-radius: 10px ; 
    color: #34A9A2;
    padding: 10px;
    text-decoration: none;
   bottom:2rem;
}
.aboutus-side2 .icons1{  
margin: 20px;
}
/* my service blog */
.myservice{
    height: 100vh;
    width: 100%;
    background-color:beige;   
}
.myservice h2{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 2em;
}
.myservice-image{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;
    
}
.myservice-image1{
    background-color: #C4C4C4;
    height :400px; 
    width: 30%; 
}
.myservice-image1 .iconify{
position: relative;
top: 20%;
left: 39%;
align-items: center;
}
.myservice-image1 p{
    position: relative;
    top: 40%;
    left: 25%;
    align-items: center; 
    }
.card__image__one{
        margin-right: 50px;
      }
.card__image__two{
          margin-right: 50px;
        }


 
.portifolio{
    
    height: 100vh;
    width: 100%;
    background-color: beige;
}
.portifolio h2{
    display: block;
    text-align: center;
}
.portifolio .portifolio-navigation .navigate{
    z-index: 2;  
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    
}
.portifolio .portifolio-navigation .navigate ul{
    text-align: center;
}

.portifolio .portifolio-navigation .navigate ul li{
    margin-top: 20px;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding-left: 20px;
    list-style: none;
    
}
.portifolio .portifolio-navigation .navigate ul li a{
    text-decoration: none;
    font-size: 16px;
    font-style:bold ;
    color: black;
   
}

.portifolio .portifolio-image{
    display: flex;
    flex-wrap: wrap; 
    padding: 20px 80px; 
    width: 100%;
    background-color: beige;
}

.portifolio-image__container{ 
    width: 30%;
    height: 400px;
    
    }

   .portifolio-image__container img{
   width:100%;
   height: 400px;
   object-fit: cover;
   }


/* contact block*/ 
.contact{
    height: 100vh;
    width: 100%;
    background-color: beige;
}
.contact h2{
    text-align: center;
    padding: 20px;
}
.contact p{
    text-align: center;
  
}

.contact-image{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;
}
.contact-image .contact-image1{
    height: 200px;
    width: 30%;   
}
.contact-image .contact-image1 p{
    text-align: center;
    margin: 30px;
    font-weight: 300;
}

.contact-image .contact-image1 .iconify{
    position: relative;
    align-items: center;
    left:45%;
    color: #34A9A2;
}

/* message block */

.message{
    flex-basis: 100%;
}

.contact .message .message1 #name{
    display:block;
    width: 80%;
    margin-bottom: 10px;
    margin-left:50px;
    border:2px solid #34A9A2 ;
    border-radius: 10px;
    padding: 10px;

}

.contact .message .message1 #email{
    display:block;
    width: 80%;
    margin-bottom: 10px;
    margin-left:50px;
    border:2px solid #34A9A2 ;
    border-radius: 10px;
    padding: 10px;

}
.contact .message .message1 #message{
    display:block;
    width: 80%;
    margin-bottom: 10px;
    margin-left:50px;
    border:2px solid #34A9A2 ;
    border-radius: 10px;
    padding: 10px;
    text-align: top;
    top:0;
    height: 20vh;

}
.contact .message .message1 button{
    margin-left: 50px;
    border:2px solid #34A9A2 ;
    border-radius: 20px;
    padding:10px;
    background-color: white;
    color: #34A9A2;
    font-weight: 500;
}
.subscribe{
    flex-basis: 100%;
}
.subscribe p{
position:absolute;
margin-top: 2rem;
margin-left: 1%;
}

.contact .subscribe input{   
margin-left: 1%;
margin-top: 3.2rem;
padding: 8px;
border:2px solid #34A9A2 ;
border-radius: 10px;
}
.contact .subscribe button{   
    
    padding: 8px;
    border:2px solid #34A9A2 ;
    border-radius: 20px;
    }
.emailuse{
    display: flex;
    width: 100%;
}

footer{
    
    width: 100%;
    
    background-color: beige;
     
}
footer .footer{

    display: block;
    text-align: center;
}
*/

.experience{
    height: 100vh;
    width: 100%;
    padding: 20px 80px; 
}
.experience #experienceid{
    display: block;
    text-align: center;
 
}
.experience .experience-image{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.experience .experience-image .experience-image1 h2,h3{
    padding-bottom: 15px;
}


.experience .experience-image .experience-image2 h2,h3{
    padding-bottom: 15px;
}


.experience .experience-image .experience-image3 h2,h3{
    padding-bottom: 15px;
}
.experience__image__container{
    width: 30%;
    height: 400px;
    margin-bottom: 20px;
}
.experience  .experience-image1,
.experience  .experience-image2{
    margin-right: 50px;
}

.experience__image__container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* blog css */

.blog{
    height: 100vh;
    width: 100%;
    background-color: beige; 
}

.blog #blogid{
    display: block;
    text-align: center;
    
}
.blog .blog-image{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;
}
.blog__image__container{
    width: 30%;
    height: 400px;
    margin-bottom: 20px; 
}
.blog__image__container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.blog .blog-image .blog-image1 h2,h3{
    padding-bottom: 15px;
}


.blog .blog-image .blog-image2 h3{
    padding-bottom: 15px;
}

.blog .blog-image .blog-image3 h2,h3{
    padding-bottom: 15px;
}
.blog-image1{
    margin-right:50px;
}
.blog-image2{
    margin-right:50px;
}

/*
@media(max-width:834px){
    section{
        margin-bottom: 20rem;
    }

 .navigation{
    top: 0px;
    width: 100%;
    position: fixed; 
    background-color: #34A9A2;
    display: flex;
    justify-content: space-between

    }
    .navigation .mainMenu{
        height: 60vh;
        position: fixed;
        top:0;
        right:0;
        left: 80%;
        z-index: 20;
        width: 20%;
        flex-direction: column;
        justify-content: center;
        background: #34A9A2;
        transition: top 1s ease;
        display: none;
    }
 .navigation .mainMenu .closeMenu{
    display: block;
    position:absolute;
    top: 10px;
    right: 10px;
 } 
   
 .navigation .openMenu{
     display: block;
 } 
 .navigation .mainMenu li a:hover{
    color: #34A9A2;
    background-color: beige;
    padding:10px;
    border:10px solid #34A9A2;
    border-radius: 20px;
 }
 .navigation .logo{
    display: block;
    position:relative;
    top: 10px;
    left: 10px;
}
.portifolio-image{
    display: flex;
    flex-wrap: wrap;
}
.experience .experience-image{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 135vh;
    left: 7%; 
}
.blog-image{
    display: flex;
    flex-wrap: wrap;
}

.myservice h2{
    margin-top: 20rem;
}
.myservice-image{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;   
}
*/
/*
.myservice-image .myservice-image1{
    height: 300px;
    width: 300px;
}
.myservice-image .myservice-image2{
    height: 300px;
    width: 300px;
}
.myservice-image .myservice-image3{
    height: 300px;
    width: 300px;
}
.aboutus{
    height: 125vh;
}
.aboutus-side{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.aboutus-side .aboutus-side1{
width: 100%;
}
.aboutus-side .aboutus-side1 img{
    margin-left: 15%;
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
    }

}
*/


@media(min-width:330px) and (max-width:550px){
    section{
        margin-bottom: 0.5rem;
    }

 .navigation{
    
    width: 100%;
    position:sticky;
    top: 0;
    background-color: #34A9A2;
    display: flex;
    justify-content: space-between

    }
    .navigation .mainMenu{
        height: 60vh;
        position: fixed;
        top:5;
        right:0;
        left: 50%;
        z-index: 20;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        background: #34A9A2;
        transition: top 1s ease;
        display: none;
    }
 .navigation .mainMenu .closeMenu{
    display: block;
    position:absolute;
    top: 10px;
    right: 10px;
 } 
   
 .navigation .openMenu{
     display: block;
 } 
 .navigation .mainMenu li a:hover{
    color: #34A9A2;
    background-color: beige;
    padding:10px;
    border:10px solid #34A9A2;
    border-radius: 20px;
 }
 .navigation .logo{
    display: block;
    position:relative;
    top: 10px;
    left: 10px;
}

header{
    width:100%;
    height: 100vh;
}
header .welcome h2{
    font-size: 0.7rem;
    display: inline-block;
    position: absolute;
    top:30%;
    left: 30%;
    color: white;

}
header .welcome h3{
    font-size: 0.7rem;
    position: absolute;
    top:40%;
    left: 35%;
   color: white;
}

header .welcome p{
    position: absolute;
    font-size: 0.5rem;
    width: 80%;
    top:50%;
    left: 10%; 
    display: block; 
    color: white;
}
header .welcome a{
    position: absolute;
    padding: 10px;
    margin-left: 30px;
    left: 25%;
    top: 65%;
}
header .welcome a:hover{
    background-color: beige;
    color: aqua;
}

.aboutus{
    position: relative;
    background-color:beige;
    height: 170vh;  
    width: 100%;  
}

.aboutustitle p{
    display: block;
    font-size: 0.8rem;
    margin: 10px;
}


.aboutus-side .aboutus-side2 {
    padding: 20px 0;
    height: 500px;
    width:500px;
    padding:0 0 0 4rem;

}
.aboutus-side .aboutus-side1{
    height: 500px;
    width:500px;
  align-items: center;
    object-fit: cover;
}



/* .aboutus-side .aboutus-side1 img{
    height: 500px;
    width: 500px; 
    margin-bottom: 20px;  
    
} */
.aboutus-side2 .iconify{
    margin: 0.3rem; 
}


.myservice{
    height: 140vh;
    width: 100%;
}

.myservice-image{
    flex-direction: column;
    align-items: center;
    padding: 10px 65px;
   
}
.myservice-image1{
    height: 250px;
    width: 100%;
}
.card__image__one,
.card__image__two{
    margin-right: 0;
    margin-bottom: 5px;
  }

.portifolio{
    height: 180vh;
    width: 100%;
}
.portifolio .portifolio-image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 170vh;
    padding: 10px 65px;
    
}
.portifolio .portifolio-image__container{
    height: 300px;
    width: 100%;
   
}

.portifolio .portifolio-image__container img{
    width:100%;
    height: 300px;
    object-fit: cover;

    
}


.experience{
    height: 250vh;
    width: 100%;
    padding: 10px 60px;
}

.experience__image__container{
    height: 300px;
    width: 100%;
    margin-bottom: 250px;
}
.experience  .experience-image1,
.experience  .experience-image2{
    margin-right: 0;
}

.blog {
    height: 250vh;
    width: 100%;
}
 .blog .blog-image{
    height: 350vh;
    width: 100%;
    flex-direction: column;
 }
 .blog__image__container{
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-bottom: 220px;
}
.contact{
    height: 180vh;
}
.contact .contact-image1{
    height: 200px;
    width: 100%;
}
.emailuse{
    flex-direction: column;
}
.subscribe{
    margin-left: 20px;
    
}
footer p{
    padding-bottom: 10px;
}

}
/*
@media(max-width:1024px){
    .card__image__one {
        margin-right: 40px;
    }
    .card__image__two {
        margin-right: 40px;
    }
    .experience .experience-image1 {
        margin-right: 40px;
    }
    .experience .experience-image2{
        margin-right: 40px;
    }
    .blog-image1{
        margin-right:40px;
    }
    .blog-image2{
        margin-right:40px;
    }


}

@media(max-width:768px){
    .card__image__one {
        margin-right: 40px;
    }
    .card__image__two {
        margin-right: 40px;
    }
    .experience .experience-image1 {
        margin-right: 40px;
    }
    .experience .experience-image2{
        margin-right: 40px;
    }
    .blog-image1{
        margin-right:40px;
    }
    .blog-image2{
        margin-right:40px;
    }
    .blog__image__container{
     margin-bottom: 300px;
    }
}
 */
